.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/documents/Assignments.Rmd/shinyapps.io/dennistriepke/assignment_qualitaetskontrolle_ovgu.dcf
rsconnect/documents/Assignments.Rmd/shinyapps.io/dennistriepke/operationscharakteristik_hyp_guenther.dcf
Shiny_app/rsconnect/shinyapps.io/dennistriepke/hyp_operation_characteristic.dcf
